    <h1>About</h1>
    <p>
      Jennifer Scott-McInerney is a former Benicia High School English teacher with a Masters Degree in Education.
      While at Benicia, she also taught the Peer Helpers course which specialized in effective communication and active
      listening skills. She has also been a teacher and consultant for FAME Charter School, working with students
      and their families in alternative education formats such as independent study, home-school, and accelerated learning.
    </p>
<p>

  Her practical experience and expertise is centered around the students' dream and their parents' desire to see their
  childrens' educational needs are met.
</p>
    <p>
     She currently resides in Walnut Creek, California with her husband and three boys.
    </p>