    <h1>About</h1>
    <p>
      My name is Jennifer Scott-McInerney. I reside in Walnut Creek, California. I'm a former teacher at Benicia High School,
      and now current working for FAME Charter School where I have sharpened my active listening skills from kindergartners through
      high-schoolers. Well you get the idea.
    </p>
