    <h1>About</h1>
    <p>
Jennifer Scott McInerney, M.A., Educational Leadership

Jennifer started her career in education as an English teacher at a public high school where she became involved in leadership activities, including mentoring  new teachers and coordinating the Peer Counseling program.

     <p>She furthered her experience at a charter school which specialized in personalized learning. As an advisor Jennifer worked with school leadership to develop a WASC accredited college prep program along with assisting families to determine, direct and support an appropriate course of study.

     <p>Jennifer has now combined her commitment to supporting parents through knowledge with her passion for helping teens envision their dreams, clarify goals and achieve their potential. Jennifer holds a B.A. in English from CSU Sacramento, a Teaching Credential from St Mary's College and a M.A. in Educational Leadership from Fielding University.
    </p>
<p>

  Her practical experience and expertise is centered around the students' dream and their parents' desire to see their
  childrens' educational needs are met.
</p>
    <p>
     She currently resides in Walnut Creek, California with her husband and three boys.
    </p>