<h1>About</h1>
<p>
Jennifer is an experienced, dedicated educator who began teaching in a
public high school and then specialized in personalized learning
program through a charter school.  She believes first that all
children are exceptional, especially yours. Second, that college is
for anyone willing to work hard enough. Whether a stellar academic or
a just a nice kid, the key is finding the right fit.

<p>
Jennifer earned her B.A. in English at California State University,
Sacramento, a Single-Subject Credential in English from St. Mary's
College of California and an M.A in Educational Leadership from
Fielding Graduate University, Santa Barbara.



