    <h1>About</h1>
    <p>
     Jennifer is an experienced, resourceful, passionate educator. Starting as an English teacher at a public high school, she became involved in leadership activities including mentoring new teachers and developing the Peer Counseling program.
    </p>
    <p>
    After starting her own family, she joined a charter school specializing in alternative education to public school students. As an independent study teacher, Jennifer worked with school leadership to develope an accredited college prep program and with individual families to determine, direct and support an appropriate course of study. She earned her MA in Educational Leadership and Change and continues working with families and mentoring new teachers.
    </p>

<p>
Jennifer has now combined her commitment to supporting parents through knowledge and information with her passion for helping teens envision their dreams, clarify goals, achieve their potential.
</p>


