<h1>Explore Your Options</h1>
    <p>
At McInerney Educational Consulting we believe one of our country's
greatest strengths is our access to higher education. It is what
distinguishes us from other countries; it is the promise of knowledge
and prosperity. While the dream lives, cuts to education combined with
competitive admissions process requires parents rethink the road to
college for their children.

<p>
MEC offers personalized college planning to help your family determine
an appropriate path, develop a plan and guide you along the way. From
maximizing your application profile to finding the right fit and
through every stage of the application process, we have options which
allow you to determine the level of support you want for your family.

