<h1>Explore Your Options</h1>
    <p>
    Planning for college can start at any time and take any number of directions. Some college have excellent compensation
packages, others are reasonably priced to attract out-of-state students, and others are just not going to be a good fit at all.
</p>
<p>
Finding the right school will probably require considering the following:
      <ul>
        <li>Scholarships</li>
        <li>Grants</li>
        <li>In-state vs Out-of-State</li>
        <li>Public vs Private</li>
        <li>Small Private College vs Huge State University</li>
        <li>Gap Years</li>
        <li>Field of Study</li>
        <li>Total Compensation Packages</li>
      </ul>
    </p>
<h1>Where to Begin</h1>
    <p>
      Start planning early! Some families start in 8th grade and check in with an educational consultant on a yearly basis
      until the Junior year when all the other milestones start to appear, often in an all-too-rapid succession. Balancing testing,
      the college application process, essay-writing, organizing transcripts, and grant applications is stressful.
      Having a plan can allow the student to remain focused on schoolwork and other activities such as community service,
      athletics, and jobs. 
    </p>


