<h1>Services</h1>

<h3>Getting Started: Grades 8-10</h3>
<p>
  Understanding why it is so hard for great kids to get into good colleges will aid
  families in making
  decisions about their child's academic preparation. In this early phase we will clarify values and
  establish attainable goals designed to maximize your child's admissions profile including course
  planning, summer programs and extra-curricular activities. Includes initial consult session plus two
  follow-up sessions prior to the junior year.

  <b>$250</b>
</p>

<h3>The Prep Plan: Grades 11-12</h3>
<p>Let us help you decide what tests to take and when to take them. Our
  personalized test prep allows you to build a program that fits your child's busy schedule and your
  budget.
  <b>$400 - $800</b>
</p>

<h3>The Right Fit</h3>
<p>There is more than one perfect school for you and we'll help you find it. Using your
  criteria and our experience, we build a list of schools for you to explore before helping you narrow
  your selection to the best matches.
  <b>$350</b>
</p>

<h3>The Application</h3>
<p>
  Market yourself through a winning application and dynamic essays. We'll support
  you through the whole process or just in the spots you need. Five-session packages allow you to
  determine the level of support you want.
  <b>$450</b>
</p>
<h3>Comprehensive Package</h3>
<p>
  This package includes all our services for one convenient price and reserves
  your place for priority scheduling.
  <b>$2400</b>
</p>